.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
html{
    overflow: auto;
}
body{
    overflow: hidden;
    color: #888;
    background-color: rgb(247, 247, 247);
}
nav{
    background-color: rgba(101, 219, 255, 0.1);
}
.top{
    display: flex;
    list-style-type: none;
}
li{
    margin: 1.5em;
}
.pixel{
  image-rendering: pixelated;
  width: 15vw;
}
img{
    width: 25vw;
}
.text{
    margin-top: 3em;
    text-align: center;
}
.bold{
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
}
.mtop{
    margin-top: 1em;
    text-align: center;
}
.div{
    width: 270px;
    height: 410px;
    margin: 3em auto;
    background-image: url(img/sumaho.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 180px 30px 0;
}
.div p{
    display: block;
    text-align: center;
    margin:40px auto;
    line-height: 1.3;
    color: #2e2e2e;
    z-index: 1;
}
/*-----------中身--------------*/
.dolphin{
    display: block;
    margin: 0 auto;
    width: 64px;
    animation: pulse 2s infinite ease-in-out;
    cursor: pointer;
    z-index: 1;
    image-rendering: pixelated;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.bold2{
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    z-index: 1;
}
.wo{
    font-size: .8em;
    display: inline-block; /* ← 回転に必要 */
    transform: rotate(15deg); /* ← 回転の角度（単位は deg） */
    z-index: 1;
}
.rodo{
    width: 150px;
    height: 35px;
    z-index: 1;
    display: none;
    margin: auto;
}
.line{
    width: 80%;
    border: solid 1.5px rgba(101, 219, 255, 0.1);
    margin: 0 auto;
}
/*-----------スクロールbox--------------*/
.scroll-cover {
    position: relative;
}
.items {
    margin: 2em auto 3em;
}
.item {
    width: 50vw;
    height: 100%;
    border-radius: 20px;
    border: solid 40px rgba(7, 140, 160, .3);
    pointer-events: none;
    margin: 0 auto;
    display: block;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    user-select: none;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}
/*-----------ボタン--------------*/

.dots {
    position: absolute;
    bottom: 10px;       /* 下に表示 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: white; /* 選択中の丸 */
}
.a{
    margin-right: 50px;
}

/*-----------フッター--------------*/
.foot{
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}
.footer-cover *{
    color: #fff;
}
.footer-cover{
    background-color: rgb(90, 134, 149);
    padding: 1em;
}
.copy{
    text-align: center;
}
.copy span{
    font-size: 13px;
    opacity: .5;
}
.saito{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-decoration: none;
    width: 20em;
    height: 100%;
}
.saito p{
    font-size: .9em;
    text-align: center;
    margin: 10px 20px;
}
.saito img{
    display: block;
    margin: 3% auto;
    width: 200px;
    height: 40px;
}